<a href="https://colab.research.google.com/github/Neetha669/python-problem-solving/blob/main/day_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
vote=list(map(int,input().split()))
age=list(map(int,input().split()))
c=[0]*max(vote)
for i in range(n):
  if age[i]>=18:
    c[vote[i]-1]+=1
print(c)
print(max(c))

5
1 2 3 2 1
17 20 19 23 22
[1, 2, 1]
2

In [ ]:
from ast import Return
n=int(input())
vote=list(map(int,input().split()))
age=list(map(int,input().split()))
c=[0]*max(vote)
for i in range(n):
  if age[i]>=18:
    c[vote[i]-1]+=1
m=max(c)
print(c.index(m)+1)

5
1 2 3 2 1
17 20 19 23 22
2

In [ ]:
l=[2,4,5,1,3]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [ ]:
n=int(input())
vote=list(map(int,input().split()))
age=list(map(int,input().split()))
c=[0]*max(vote)
for i in range(n):
  if age[i]>=18:
    c[vote[i]-1]+=1
temp=sorted(c,reverse=True)
if temp[0]==temp[1]:
  print(-1)
else:
  print(c.index(temp[0])+1)

5
1 2 3 2 1
22 19 20 18 24
-1

In [ ]:
l=[2,3,4,5,7]
for i in range(len(l)-1):
  if l[i]>=l[i+1]:
    print(False)
    break
else:
    print(True)

True

In [ ]:
books=[2,3,4,1,2,6,7,3,5,1,6,3,2,4]
k=4
sum=0
for i in range(k):
  sum+=books[i]
m=sum
for i in range (1,len(books)-k+1):
            sum=sum-books[i-1]+books[i+k-1]
            m=max(m,sum)
print(m)

21

In [ ]:
l=[2,3,4,5,2,1]
for i in range(len(l)):
  print(" ")
  for j in range(i+1,len(l)):
    print(l[i:j],end=" ")

[2] [2, 3] [2, 3, 4] [2, 3, 4, 5] [2, 3, 4, 5, 2]
[3] [3, 4] [3, 4, 5] [3, 4, 5, 2]
[4] [4, 5] [4, 5, 2]
[5] [5, 2]
[2]

In [ ]:
arr=[2,4,5,6,3,2,4,2,1,8,7,9]
k=13
l,r,sum,m=0,0,0,0
while r<len(arr):
  sum+=arr[r]
  while sum>k:
    sum=sum-arr[l]
    l=l+1
  m=max(m,r-l+1)
  r+=1
print(m)

5